@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    background-color: #1b4088;
      font-size: 100%;

}
@media only screen and (min-width: 0px) {
main{
    display:flex;
    flex-direction: column;
    height: 100%;
}
header{
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 0.5rem;
    transition: background-color 0.5s;
    z-index: 999;
}
nav{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 0.5rem;
}
#logo{
    max-width: 75px;
    order: 1;
}
#logo-title{
   max-width: 9rem;
    padding-left: 10px;
    text-align:left;
    font-size: 1em;
    color:white;
    order: 2;
    text-shadow: 2px 2px black;
    transition: color, text-shadow 0.5s;
}
header.is-fixed
{
position: fixed;
background-color: white;
transition: background-color 0.5s;
}
#logo-title.is-inverted
{
    color: #1b4088;
    text-shadow: 2px 2px white;    
    transition: color, text-shadow 0.5s;
}
.nav-space{
    order: 3;
    flex:1;
}
.nav-collapse{
order: 4;
}
#nav-hamb{
 color: white;
    }
    #nav-hamb.is-inverted{
        color: #1b4088;
           }
#nav-links{
    display: none;
    order: 4;
    max-height: 0px;
    transition: max-height 10s;
}
#nav-links.links-show{
    display:flex;
    flex-flow: column;
    align-items: flex-start;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: white;
    top: 60px;
    border-radius: 5px;
    padding: 2rem;
    list-style-type: none;
    width: 78.5%;
    max-height: 1000px;
    transition: max-height 10s;
}
.nav-item{
    font-size: 1em;
    height: 3rem;
    color: #1b4088;
    text-decoration: none;
}
.nav-item:hover{
    color: red;
}
.top-content .container{
margin-top: 80px !important;
}
.container{
    width: 95%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.top-content{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/background-1.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    padding-bottom: 5rem;
    min-height: 75vh;
}
#top-contacto{

            background-image: 
              linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
              ),
              url("../img/background-2.jpeg");
              min-height: 50vh;
}
.descripcion{
display:block;
flex-basis: 100%;
text-align: left;
left: 0;
align-items:flex-start;
}
.descripcion h1{
    color:#1b4088;
    font-size: 3em;
    text-shadow: 0px 2px black;
    flex: 1;
}
.descripcion h2{
    color: white;
    font-size: 2em;
    text-shadow: 0px 2px black;

    flex: 1;
}
.card-x-large{
    background-color:white;
    border-radius: 5px;
    flex-basis: 100%;
    padding:15px;   
    margin-top:20px; 
    color:#1b4088;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}
.card-large{
    background-color:white;
    border-radius: 5px;
    flex-basis: 100%;
    padding:3rem;   
    margin-top:20px; 
    color:#1b4088;
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;

}
.card-large-title{
    color: red;
    font-size: 2em;
    font-weight: bold; 
    text-transform:uppercase;
    text-align: center;
}
.small-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.card-small{
    background-color:white;
    border-radius: 10px;
    padding:15px;   
    margin-top:20px; 
    color:#1b4088;
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
    display:flex;
}

.card-small-image{
    max-width: 75%;
}
.card-small input{
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color:#1b4088;
    border-radius: 10px;
    color:#1b4088;
    padding: 5px;
    margin-left: 1rem;
    width: 25%;
}
.card-small input[type="button"]{
    margin-left: 1em;
    border-color:#1b4088;
    background-color: transparent;
    color: #1b4088;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border-width: 0.15rem;
    width: auto;
}
.card-small input[type="button"]:hover{
    border-color:red;
    color: red;
}

.card-small .card-header-title{
font-size: 1.4em;
font-weight: bold;
color: #1b4088;
text-align: center;

}
.card-content{
    display:flex;
    flex-direction: column;
    row-gap: 2rem;
}
.card-header-logo{
    padding-right: 25px;
    }

.card-header-logo i{
color: red;
    }

#mid-content{
    background-image: url("../img/space-pattern.png");
    background-size: 50%;
    padding-bottom: 40px;
    padding-top: 20px;

}
#mid-content .container{
    align-items: center;
}
#mid-content .card-large{
    max-width: 85%;
}
footer{
    background-color: #1b4088;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    row-gap: 1rem;
}
footer #copyright{
    flex: 1;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.7em;
}
footer #social{
width: 50%;
display:flex;
flex-direction: row;
justify-content: space-between;
padding: 10px;
}
footer #social i{
    filter: invert(100%);
    }
    footer #social i:hover{
        filter: invert(0%);
        }
footer div.newsletter-container{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    width: 85%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
footer #newsletter-title{
color: white;
font-size: 1.5em;
font-weight: bold;
}

footer #newsletter-text{
    color: white;
    text-align: center;
}
footer #newsletter-form{
    text-align: center;
}
footer #newsletter-email{
    max-width: 75%;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    color: white;
    }
    footer #newsletter-button{
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        border-radius: 10px;
        color: white;
        padding: 5px;
        margin-left: 1rem;
    }

    footer #newsletter-button:hover{

        border-color: red;
        color: red;

    }

    #formulario_contacto{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        row-gap: 2em;
        width: 100%;
    }
        #formulario_contacto div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #formulario_contacto input{
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 0.15rem 0;
    }
    #formulario_contacto textarea{
        background-color: transparent;
        border-style: solid;
        border-radius: 5px;
        border-width: 0.15rem;
        max-height: 10rem;
        resize: none;
        }
    
    #formulario_contacto .field-error{
        border-color: red;
        }
    #formulario_contacto .field-success{
            border-color: black;
            }
            #formulario_contacto small.field-error{
                display: inline;
                color: red;
                }
            #formulario_contacto small.field-success{
display:none;
                    }
    #formulario_contacto label{
        font-family: 'Source Sans Pro', sans-serif;
        }
    #formulario_contacto input[type="submit"] {
       
        margin-left: auto;
        margin-right: auto;
        border-color:#1b4088;
        background-color: transparent;
        color: #1b4088;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
        border-width: 0.15rem;
        }
        #formulario_contacto input[type="submit"]:hover {
          border-color:red;
            color: red;
            }
.subtitle{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
}

.map-responsive{
    min-width: 100%;
    min-height: 25vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.map-responsive iframe{

    min-height:100%;
    max-width:100%;

}
}

@media only screen and (min-width: 469px) {

    nav{
        width: 85%;
    }

    .container{
        width: 85%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
    }
    .top-content{
        min-height: 40vh;
    }   

    .card-x-large{
        background-color:white;
        border-radius: 5px;
        flex-basis: 100%;
        padding:15px;   
        margin-top:20px; 
        color:#1b4088;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2em;
    }
#mid-content .container{
    width: 100%;
}    
    .small-info{
        display: flex;
        flex-direction: row;
        margin-top: -80px;
        flex-wrap: wrap;
        column-gap: 1em;
        width: 100%;
    }
    .card-small{
        background-color:white;
        border-radius: 10px;
        flex-basis: 100%;
        padding:15px;   
        margin-top:20px; 
        color:#1b4088;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2em;
        transition: transform 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        min-width: 18%;
        max-width: 28%;
        flex: 1 1 0;
    }
    .card-small:hover{
        transform: translateY(-20px);
        transition: transform 1s;
    }
    .card-small .card-header-title{
        text-align: center;
        }
        .card-small .card-content{
            align-items: center;
            row-gap: 2rem;
        }
        .card-small .card-header-logo{
            padding-top: 10px;
            }
        
        .card-small .card-header-logo i{
        font-size: 1.5em;
        text-align: center;
            }
        
    #mid-content{
        background-image: url("../img/space-pattern.png");
        background-size: 25%;
        padding-bottom: 10rem;
        padding-top: 20px;
    
    }
    footer{
        background-color: #1b4088;
        padding: 10px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        row-gap: 1rem;
    }
    footer #copyright{
        flex: 1;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.7em;
    }
    footer #social{
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    }
    footer #social i{
        filter: invert(100%);
        }
        footer #social i:hover{
            filter: invert(0%);
            }
    footer div.newsletter-container{
        border-style: solid;
        border-width: 2px;
        border-color: white;
        border-radius: 10px;
        width: 85%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    footer #newsletter-title{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    }
    
    footer #newsletter-text{
        color: white;
        text-align: center;
    }
    footer #newsletter-form{
        text-align: center;
    }
    footer #newsletter-email{
    max-width: 75%;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    color: white;
    }
    footer #newsletter-button{
        padding: 5px;

    }

    .subtitle{
        margin-left: auto;
        margin-right: auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bolder;
    }
    }

    @media only screen and (min-width: 994px) {

        #nav-links.is-inverted .nav-item
        {
            color: #1b4088;
            transition: color 0.5s;
        }
        .nav-collapse{
        display:none;
        }
        #nav-links{
            display: flex;
            column-gap: 3rem;
            color: white;
            align-items: flex-start;
            list-style-type: none;
        }
        .nav-item:hover{
            color: red;
            transition: color 0.5s;

        }
        .nav-item{
            color: white;
        }
    }